@import 'antd/dist/antd.css';

.btn{
  margin-top: 20px;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-weight: 500;
  font-size: large;
}

.header{
  background-color: black;
}
.ant-menu-horizontal > .ant-menu-item a {
  color: #F2F2F2;
  font-size: large;
  font-weight: 400;
}

.ant-menu-horizontal > .ant-menu-item:hover {
  background-color: rgba(24, 144, 255, 0.1);
}

.headerCenter{
  margin-top:1rem;
  text-align: center;
}

.addBtnTable{
  float: right;
  margin-right: 10px;
}

.table{
  padding: 0 10px;
}

/* .ant-input{
  width: 55%;
} */

.ant-form-item-control-input-content {
  max-width: 55%;
}